{% assign repo_url = include.repository | split: '/' %}
{% assign owner = repo_url[0] %}
{% assign name = repo_url[1] %}
{% assign delay = include.index | default: 0 | times: 0.06 %}

<div class="repo" style="--repo-delay: {{ delay }}s;">
  <a
    class="repo-card"
    href="https://github.com/{{ include.repository }}"
    data-repo="{{ include.repository }}"
    data-owner="{{ owner }}"
    data-name="{{ name }}"
  >
    <div class="repo-card__heading">
      <div class="repo-card__name">{{ name }}</div>
      <div class="repo-card__owner">{{ owner }}</div>
    </div>
    <p class="repo-card__desc">Open-source repository. Click to view on GitHub.</p>
    <div class="repo-card__meta">
      <span class="repo-card__pill repo-card__pill--type">GitHub</span>
      <span class="repo-card__pill repo-card__pill--stars">★ <span class="repo-card__stars">--</span></span>
      <span class="repo-card__pill repo-card__pill--lang"><span class="repo-card__lang">--</span></span>
      <span class="repo-card__pill repo-card__pill--updated">Updated <span class="repo-card__updated">--</span></span>
    </div>
  </a>
</div>
