<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = data[1] | sort: 'startDate' | reverse %}
  {% for content in education %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column cv-edu-date">
          {% if content.startDate and content.startDate != '' %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = null %}
          {% endif %}
          {% assign logo_path = content.logo %}
          {% if logo_path == nil or logo_path == "" %}
            {% if content.institution contains 'Peking' %}
              {% assign logo_path = '/assets/img/pku_logo.png' %}
            {% elsif content.institution contains 'Lanzhou' %}
              {% assign logo_path = '/assets/img/lzu_logo.png' %}
            {% endif %}
          {% endif %}
          <div class="cv-edu-left">
            {% if date %}
              <span class="badge cv-year-badge font-weight-bold danger-color-dark text-uppercase align-middle"> {{ date }} </span>
            {% endif %}
            {% if logo_path %}
              <div class="cv-location-logo">
                <img
                  class="cv-edu-logo"
                  src="{{ logo_path | relative_url }}"
                  alt="{{ content.institution }} logo"
                  loading="lazy"
                >
              </div>
            {% elsif content.location %}
              <p class="location">
                <i class="fa-solid fa-location-dot iconlocation"></i>
                {{ content.location }}
              </p>
            {% endif %}
          </div>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            <a href="{{ content.url }}">{{ content.studyType }}</a>
          </h6>
          <div class="cv-education-line ml-1 ml-md-4">
            <span>{{ content.institution }}</span>
          </div>
          {% if content.area %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.area }}</h6>
          {% endif %}
          <ul class="items">
            {% for item in content.courses %}
              <li>
                <span class="item">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
